:root {
  --bg: #eee;
  --primary: #9cc1d9;
  --secondary: #6260a6;
  --contrast: #6883a6;
  --font: #1f1f1f;
  --opacity: #c4c3d8;
}

.dark {
  --bg: #0b0c10;
  --primary: #6fb6d6;
  --secondary: #5b57a0;
  --contrast: #6b84a8;
  --font: #e7eef6;
  --opacity: #23233b;
}

.select {
  width: 100%;
}
.select.open .selected {
  border: 2px solid var(--contrast);
}
.select.open .selected span {
  display: none;
}
.select.open .selected img {
  transform: rotate(180deg);
}
.select.open .select-list {
  display: block;
}
.select.nothing h5 {
  font-weight: 200;
  font-style: italic;
  color: var(--font);
}
.select.nothing img {
  display: none;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background: var(--opacity);
  border: 2px solid var(--primary);
}
.selected h5 {
  font-size: 18px;
  font-weight: 500;
  color: var(--font);
}
.selected span {
  display: none;
}
.selected img {
  width: 30px;
  transition: 0.3s;
}
.selected:hover {
  border-color: var(--contrast);
}
.selected:hover img {
  transform: scale(110%);
}

.select-list {
  display: none;
  width: 100%;
  background: var(--opacity);
  border: 2px solid var(--contrast);
  transition: 0.5s;
  margin-bottom: 10px;
}
.select-list a {
  color: var(--font);
  text-decoration: none;
}
.select-list a div {
  padding: 5px 10px;
}
.select-list a:hover {
  font-weight: 500;
}
.select-list a:hover div {
  background: var(--secondary);
}
.select-list button {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  font-size: 15px;
  background: none;
  color: var(--font);
  border: none;
}
.select-list button:hover {
  background: var(--secondary);
  font-weight: 500;
  cursor: pointer;
}
.select-list span {
  display: none;
}

main.add {
  align-items: baseline;
  padding-top: 84px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--font);
}

#inputNome {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid var(--primary);
  border-radius: 30px;
  background: var(--opacity);
  color: var(--font);
  font-size: 17px;
  outline-color: var(--contrast);
}
#inputNome:hover {
  border-color: var(--contrast);
}

.date-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.date-time div {
  width: 100%;
}
.date-time div input {
  width: 90%;
  padding: 2px 5px;
  font-size: 17px;
  font-style: italic;
  background: var(--opacity);
  color: var(--font);
  border: 2px solid var(--primary);
  outline-color: var(--contrast);
}

#note {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  margin-bottom: 20px;
  background-color: var(--opacity);
  color: var(--font);
  font-size: 15px;
  outline-color: var(--contrast);
}
#note:hover {
  border-color: var(--contrast);
}

.edit-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.edit-buttons button {
  width: 150px;
  padding: 10px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  background: var(--opacity);
  color: var(--font);
  font-size: 1.2rem;
  font-weight: 600;
}
.edit-buttons button:hover {
  border-color: var(--contrast);
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
  .select h5 {
    font-size: 15px;
  }
  #inputNome {
    font-size: 13px;
  }
  .date-time input {
    font-size: 13px;
  }
  #note {
    height: 150px;
    font-size: 13px;
  }
  .edit-buttons button {
    width: 120px;
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=add.css.map */
