.select {
  width: 100%;
}
.select.open .selected {
  border: 2px solid #6883a6;
}
.select.open .selected span {
  display: none;
}
.select.open .selected img {
  transform: rotate(180deg);
}
.select.open .select-list {
  display: block;
}
.select.nothing h5 {
  font-weight: 200;
  font-style: italic;
}
.select.nothing img {
  display: none;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background: #c4c3d8;
  border: 2px solid #9cc1d9;
}
.selected h5 {
  font-size: 18px;
  font-weight: 500;
}
.selected img {
  width: 30px;
  transition: 0.3s;
}
.selected:hover {
  border-color: #6883a6;
}
.selected:hover img {
  transform: scale(110%);
}

.select-list {
  display: none;
  width: 100%;
  background: #c4c3d8;
  border: 2px solid #6883a6;
  transition: 0.5s;
  margin-bottom: 10px;
}
.select-list div {
  padding: 5px 10px;
}
.select-list div a {
  color: #1f1f1f;
  text-decoration: none;
}
.select-list div:hover {
  background: #6260a6;
}
.select-list div:hover a {
  font-weight: 500;
}
.select-list button {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  font-size: 15px;
  background: none;
  border: none;
}
.select-list button:hover {
  background: #6260a6;
  font-weight: 500;
  cursor: pointer;
}
.select-list span {
  display: none;
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px !important;
  }
  .select h5 {
    font-size: 15px !important;
  }
  #inputNome {
    font-size: 13px !important;
  }
  .date-time input {
    font-size: 13px !important;
  }
  #note {
    height: 150px !important;
    font-size: 13px !important;
  }
  .edit-buttons button {
    width: 120px !important;
    padding: 5px 10px !important;
    font-size: 0.9rem !important;
  }
}
main.add {
  align-items: baseline;
  padding-top: 84px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

#inputNome {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid #9cc1d9;
  border-radius: 30px;
  background: #c4c3d8;
  font-size: 17px;
  outline-color: #6883a6;
}
#inputNome:hover {
  border-color: #6883a6;
}

.date-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.date-time div {
  width: 100%;
}
.date-time div input {
  width: 90%;
  padding: 2px 5px;
  font-size: 17px;
  font-style: italic;
  background: #c4c3d8;
  border: 2px solid #9cc1d9;
  outline-color: #6883a6;
}

#note {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #9cc1d9;
  margin-bottom: 20px;
  background-color: #c4c3d8;
  font-size: 15px;
  outline-color: #6883a6;
}
#note:hover {
  border-color: #6883a6;
}

.edit-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.edit-buttons button {
  width: 150px;
  padding: 10px;
  border: 2px solid #9cc1d9;
  border-radius: 5px;
  background: #c4c3d8;
  font-size: 1.2rem;
  font-weight: 600;
}
.edit-buttons button:hover {
  border-color: #6883a6;
}

/*# sourceMappingURL=add.css.map */
