@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--primary);
  width: 100%;
  height: 64px;
  padding: 0 20px;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  transition: 0.3s;
}
.btn-menu:hover {
  height: 27.5px;
}
.btn-menu span {
  display: inline-block;
  width: 40px;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--font);
}

h1 a {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
h1 a:hover {
  transform: scale(110%);
}
h1 a img {
  width: 40px;
  margin-right: 10px;
}

.foto-perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--contrast);
  opacity: 30%;
}

:root {
  --search-bg: var(--primary);
}

.dark {
  --search-bg: var(--contrast);
}

.barra-pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  transition: 0.5s;
}
.barra-pesquisa input {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--search-bg);
  border: 1.5px solid var(--secondary);
  outline: none;
}
.barra-pesquisa input::placeholder {
  font-style: italic;
  font-weight: 300;
  color: var(--bg);
}
.barra-pesquisa button {
  background: none;
  border: none;
  margin-left: 10px;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50px);
  transition: transform 0.5s, opacity 0.5s;
}
.barra-pesquisa button img {
  width: 30px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.barra-pesquisa button.open {
  pointer-events: auto;
  transform: translateX(0);
  z-index: 1;
  opacity: 1;
}
.barra-pesquisa button.open img {
  transform: rotate(45deg) scale(1);
}
.barra-pesquisa button.open:hover img {
  transform: rotate(45deg) scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  padding-top: 74px;
  margin-left: 200px;
  min-height: 95vh;
}

.estudos-container {
  width: 100%;
  max-width: 1000px;
  background-color: var(--opacity);
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.estudos-container h2 {
  color: var(--font);
}
.estudos-container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  padding: 15px;
  margin-bottom: 10px;
}
.estudos-container article h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--font);
}
.estudos-container article a, .estudos-container article p {
  font-size: 15px;
  font-weight: 500;
  color: var(--font);
  text-decoration: none;
}
.estudos-container article .items {
  display: flex;
  align-items: center;
  height: 100%;
}
.estudos-container article .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--opacity);
  border: 2px solid var(--contrast);
  margin-right: 15px;
}
.estudos-container article .toggle:hover {
  border-color: var(--primary);
}
.estudos-container article .toggle:active {
  border-color: var(--contrast);
  outline: none;
  color: inherit;
}
.estudos-container article .toggle:focus {
  outline: none;
  color: inherit;
}
.estudos-container article .toggle img {
  width: 30px;
  height: 30px;
}
.estudos-container article .toggle img:focus, .estudos-container article .toggle img:active {
  outline: none;
  color: inherit;
}
.estudos-container article.disabled {
  display: none;
}
.estudos-container .link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  margin-left: 10px;
  transition: 0.3s;
}
.estudos-container .link:hover {
  height: 35px;
}
.estudos-container .link span {
  display: inline-block;
  width: 7.5px;
  height: 7.5px;
  border-radius: 5px;
  background-color: var(--font);
}

.container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.container-title h2 {
  font-size: 25px;
  font-weight: 600;
}
.container-title img {
  width: 30px;
  transition: 0.5s;
}
.container-title img:hover {
  transform: scale(105%);
}
.container-title div {
  display: flex;
}

#series {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 64px;
  width: 200px;
  height: 100%;
  padding: 20px;
  background-color: var(--contrast);
}
aside a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  transition: 0.25s;
}
aside a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
aside a img {
  width: 50px;
}
aside a h4 {
  font-size: 15px;
  color: var(--bg);
}

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  background: var(--primary);
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  z-index: -1;
}
footer h6 {
  font-size: 15px;
  margin-left: 150px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 75px;
  margin-bottom: 20px;
}
.info-container h2 {
  font-size: 25px;
}

.info-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.info-buttons a {
  text-decoration: none;
}

.info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: var(--opacity);
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-size: 15px;
  color: var(--font);
  font-weight: 500;
}
.info-btn:hover {
  border-color: var(--contrast);
}

.show-note {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  font-size: 15px;
  background-color: var(--opacity);
  color: var(--font);
  padding: 15px;
  border: 2px solid var(--primary);
  border-radius: 20px;
  outline: none;
}
.show-note:hover {
  border-color: var(--contrast);
}

.status-tarefa {
  width: 100%;
  max-width: 1000px;
}
.status-tarefa h2 {
  font-size: 25px;
  color: var(--font);
}
.status-tarefa h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--font);
}
.status-tarefa p {
  font-size: 18px;
  color: var(--font);
}
.status-tarefa.atraso p {
  color: red;
}

:root {
  --bg: #eee;
  --primary: #9cc1d9;
  --secondary: #6260a6;
  --contrast: #6883a6;
  --font: #1f1f1f;
  --opacity: #c4c3d8;
}

.dark {
  --bg: #0b0c10;
  --primary: #6fb6d6;
  --secondary: #5b57a0;
  --contrast: #6b84a8;
  --font: #e7eef6;
  --opacity: #23233b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .barra-pesquisa {
    margin: 0;
  }
  main {
    margin-bottom: 125px;
    margin-left: 0;
    margin-top: 0;
    padding: 0 20px;
    padding-top: 74px;
    padding-bottom: 45px;
  }
  .info-container h2 {
    font-size: 20px;
  }
  .estudos-container article {
    padding: 10px;
  }
  .estudos-container article h3 {
    font-size: 15px;
  }
  .estudos-container article p {
    font-size: 11px;
  }
  .estudos-container article .toggle {
    width: 25px;
    height: 25px;
  }
  .estudos-container article .toggle img {
    width: 25px;
    height: 25px;
  }
  .estudos-container .link {
    height: 24px;
  }
  .estudos-container .link:hover {
    height: 28px;
  }
  .estudos-container .link span {
    width: 5px;
    height: 5px;
  }
  .container-title h2 {
    font-size: 20px;
  }
  .container-title img {
    width: 25px;
  }
  aside {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    background: var(--primary);
  }
  aside a {
    flex-direction: column;
  }
  aside a img {
    width: 40px;
  }
  aside a h4 {
    font-size: 10px;
  }
  footer {
    position: fixed;
    bottom: 80px;
    padding: 10px;
    z-index: 1;
    background-color: var(--contrast);
  }
  footer h6 {
    margin: 0;
    font-size: 10px;
  }
  .status-tarefa h2 {
    font-size: 20px;
  }
  .status-tarefa h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .status-tarefa p {
    font-size: 15px;
  }
}

/*# sourceMappingURL=index.css.map */
