@import "variables";

.barra-pesquisa {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    input {
        width: 100%;
        max-width: 800px;
        padding: 10px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 500;
        background-color: $primary;
        border: 1.5px solid $secondary;
        outline: none;
        &::placeholder {
            font-style: italic;
            font-weight: 300;
            color: $bg;
        }
    }
}