@import "variables";

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    background: $primary;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    z-index: -1;
    h6 {
        font-size: 15px;
        margin-left: 150px;
    }
}