@media(max-width: 768px) {
    h2 {
        font-size: 20px;
    }
    .select h5 {
        font-size: 15px;
    }
    #inputNome {
        font-size: 13px;
    }
    .date-time input {
        font-size: 13px;
    }
    #note {
        height: 150px;
        font-size: 13px;
    }
    .edit-buttons button {
        width: 120px;
        padding: 5px 10px;
        font-size: .9rem;
    }
}