@media(max-width: 768px) {
    h2 {
        font-size: 20px !important;
    }
    .select h5 {
        font-size: 15px !important;
    }
    #inputNome {
        font-size: 13px !important;
    }
    .date-time input {
        font-size: 13px !important;
    }
    #note {
        height: 150px !important;
        font-size: 13px !important;
    }
    .edit-buttons button {
        width: 120px !important;
        padding: 5px 10px !important;
        font-size: .9rem !important;
    }
}