@import './variables';

main.perfil {
    padding-top: 84px;
}
.usuario-container {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    margin-bottom: 20px;
    width: 100%;
    background: var(--opacity);
}
#usuarioImg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: var(--secondary);
    img {
        width: 100px;
    }
}
.usuario-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    h3 {
        font-size: 25px;
        font-weight: 600;
        color: var(--font);
    }
    h4 {
        font-size: 15px;
        font-weight: 400;
        font-style: italic;
        color: var(--font);
    }
}
.materias-container {
    width: 100%;
}
h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--font);
}
.materias {
    display: flex;
    max-height: 90px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    &::-webkit-scrollbar {
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
}
.materia-perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-right: 10px;
    width: 160px;
    height: 70px;
    background: var(--secondary);
    h3 {
        font-size: 15px;
        font-weight: 600;
        color: var(--font);
    }
    h4 {
        font-size: 10px;
        font-weight: 400;
        color: var(--font);
    }
}
@import './responsive-perfil';